{% extends 'web.html' %}
{% block content %}

<h1 class="text-center">Create Student</h1>

<form action="/student/create" method="post">
    <div class="form-group">
        <label>Name</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="form-group">
        <label>Father Name</label>
        <input type="text" name="fathername" class="form-control">
    </div>

    <div class="form-group">
        <label>Date of Birth</label>
        <input type="date" name="dob" class="form-control">
    </div>

    <div class="form-group">
        <label>Contact No</label>
        <input type="text" name="contact" class="form-control">
    </div>

    <div class="form-group">
        <label>Course</label>
        <select name="course" class="form-control">
            <option value="">Select Course</option>
            <option>DIT</option>
            <option>CIT</option>
            <option>Web Development</option>
            <option>Python</option>
        </select>
    </div>
   
    
    <div class="form-group mt-3">
        <button class="btn btn-primary">Save Student</button>
    </div>
</form>

{% endblock %}