{% extends "web.html" %}
{% block content %}
<H1>Welcome to home page</H1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi corporis voluptates tempora tenetur ipsam odit magnam quasi blanditiis velit omnis soluta rerum iusto non dicta vitae porro exercitationem, inventore numquam!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi corporis voluptates tempora tenetur ipsam odit magnam quasi blanditiis velit omnis soluta rerum iusto non dicta vitae porro exercitationem, inventore numquam!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi corporis voluptates tempora tenetur ipsam odit magnam quasi blanditiis velit omnis soluta rerum iusto non dicta vitae porro exercitationem, inventore numquam!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi corporis voluptates tempora tenetur ipsam odit magnam quasi blanditiis velit omnis soluta rerum iusto non dicta vitae porro exercitationem, inventore numquam!</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi corporis voluptates tempora tenetur ipsam odit magnam quasi blanditiis velit omnis soluta rerum iusto non dicta vitae porro exercitationem, inventore numquam!</p>

{% endblock %}